alembic==1.7.4
apispec==5.1.1
cffi==1.15.0
click==8.0.3
cryptography==35.0.0
ecdsa==0.17.0
Flask==2.0.2
Flask-Migrate==3.1.0
flask-smorest==0.35.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
importlib-metadata==4.8.1
importlib-resources==5.3.0
itsdangerous==2.0.1
Jinja2==3.0.2
jose==1.0.0
Mako==1.2.2
MarkupSafe==2.0.1
marshmallow==3.14.0
pyasn1==0.4.8
pycparser==2.20
python-jose==3.3.0
rsa==4.7.2
six==1.16.0
SQLAlchemy==1.4.26
webargs==8.0.1
Werkzeug==2.0.2
zipp==3.6.0
